{% extends "layout/wiki_base.html" %}
{% block wiki_content %}
    <div class="section" data-heading-extract-to="#menu-item-about">
      <div class="section__header">
        <h1 class="section__title" id="about" data-heading>{{ _('About SeriousOJ') }}</h1>
      </div>
      <div class="section__body typo">
        <p>SeriousOJ is a fork of <a href="https://vijos.org/">Vijos</a> </p>
      </div>
    </div>
    <div class="section" data-heading-extract-to="#menu-item-about">
      <div class="section__header">
        <h1 class="section__title" id="about" data-heading>{{ _('Contact Us') }}</h1>
      </div>
      <div class="section__body typo">
        <p><a href="mailto:contact@eluminatis-of-lu.com">Send Email</a></p>
      </div>
    </div>
{% endblock %}
