{% extends "layout/basic.html" %}
{% import "components/contest.html" as contest with context %}
{% import "components/record.html" as record with context %}
{% import "components/problem.html" as problem with context %}
{% import "components/paginator.html" as paginator with context %}
{% import "components/nothing.html" as nothing with context %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__body typo">
        {{ tdoc['content']|markdown }}
      {% if handler.is_ongoing(tdoc) %}
        <blockquote class="warn">
          <p>{{ _('We will check code similarity after this contest.') }}</p>
        </blockquote>
      {% endif %}
      {% if handler.is_ranklist_frozen(tdoc) %}
        <blockquote class="note">
          <p>{{ _('Ranklist currently frozen') }}</p>
        </blockquote>
      {% endif %}
      </div>
    </div>
  {% if handler.is_ongoing(tdoc) or handler.is_done(tdoc) or handler.can_edit_contest(tdoc) %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Problem') }}</h1>
      </div>
    {% if attended or handler.is_done(tdoc) or handler.can_edit_contest(tdoc) %}
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
          {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
            <col class="col--status">
            <col class="col--submit-at">
          {% endif %}
            <col class="col--problem">
          </colgroup>
          <thead>
            <tr>
            {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
              <th class="col--status record-status--border">{{ _('status') }}</th>
              <th class="col--submit-at">{{ _('Last Submit At') }}</th>
            {% endif %}
              <th class="col--problem">{{ _('Problem') }}</th>
            </tr>
          </thead>
          <tbody>
          {% for pid in tdoc['pids'] %}
            <tr>
            {% if handler.has_priv(vj4.model.builtin.PRIV_USER_PROFILE) %}
              {% if psdict[pid] and psdict[pid]['rid'] %}
              {% with rdoc=rdict[psdict[pid]['rid']] %}
              {% if handler.can_show_record(tdoc) %}
                {{ record.render_status_td(rdoc) }}
              {% else %}
                <td class="col--status record-status--border"><a href="{{ reverse_url('record_detail', rid=rdoc['_id'], domain_id=handler.domain_id) }}">{{ _('Submitted') }}</a></td>
              {% endif %}
                <td class="col--submit-at">{{ datetime_span(rdoc['_id'].generation_time) }}</td>
              {% endwith %}
              {% else %}
                <td class="col--status record-status--border">{{ _('No Submissions') }}</td>
                <td class="col--submit-at">-</td>
              {% endif %}
            {% endif %}
              <td class="col--problem col--problem-name">
                #{{ loop.index }}:
                {% if pdict[pid]['hidden'] and not (attended or handler.can_edit_contest(tdoc)) %}
                  <span class="text-orange">{{ _('Problem not published') }}</span>
                {% else %}
                {{ problem.render_problem_title(pdict[pid], tdoc=tdoc, show_invisible_flag=false, show_tags=false) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      {{ nothing.render('Please attend contest to see the problems.') }}
    {% endif %}
    </div>
  {% endif %}
  {% if handler.has_perm(vj4.model.builtin.PERM_VIEW_CLARIFICATION) %}
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Announcements') }}
          {% if cqcount %} ({{ cqcount }}){% endif %}
        </h1>
        <div class="section__header-right">
          <a href="{{ reverse_url('contest_clarifications', tid=tdoc['doc_id']) }}" class="button rounded primary">
            {{ _('View All Clarifications') }}
          </a>
        </div>
      </div>
    {% if cqdocs %}
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
            <col class="col--title">
            <col class="col--updated">
          </colgroup>
          <thead>
            <tr>
              <th class="col--title">{{ _('Title') }}</th>
              <th class="col--updated">{{ _('Last Updated') }}</th>
            </tr>
          </thead>
          <tbody>
          {% for cqdoc in cqdocs %}
            <tr>
              <td class="col--title">
                <a href="{{ reverse_url('contest_clarification_detail', tid=tdoc['doc_id'], cqid=cqdoc['doc_id']) }}">
                  <span class="icon icon-flag text-orange" title="{{ _('Announcement') }}"></span>
                  {{ cqdoc['title'] }}
                </a>
              </td>
              <td class="col--updated">{{ datetime_span(cqdoc['update_at']) }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% if cqpcount > 1 %}
      <div class="section__body">
        {{ paginator.render(announcement_page, cqpcount, 'announcement_page') }}
      </div>
      {% endif %}
    {% else %}
      <div class="section__body">
        {{ nothing.render('No announcements yet.') }}
      </div>
    {% endif %}
    </div>
  {% endif %}
  </div>
  <div class="medium-3 columns">
  {% with owner_udoc=udict[tdoc['owner_uid']], owner_dudoc=dudict[tdoc['owner_uid']] %}
    {% include "partials/contest_sidebar.html" %}
  {% endwith %}
  </div>
</div>
{% endblock %}
