{% extends "layout/wiki_base.html" %}
{% block wiki_content %}
    <div class="section" data-heading-extract-to="#menu-item-wiki_help">
      <div class="section__header">
        <h1 class="section__title" id="compiler" data-heading>{{ _('Compilers\' Version and Parameters') }}</h1>
      </div>
      <div class="section__body typo">
        <p>SeriousOJ uses <a href="https://github.com/ajami1331/sojj1">sojj1</a> for judging the solutions. </p>
        <blockquote><ul>
          <li>C <pre>gcc -O2 -Wall -std=c99 -o /out/foo /in/foo.c -lm</pre></li>
          <li>C++ <pre>g++ -O2 -Wall -std=c++17 -o /out/foo /in/foo.cc -lm</pre></li>
          <li>C# <pre>csc -optimize+ -out:foo.exe foo.cs</pre></li>
          <li>Java <pre>javac Main.java</pre></li>
          <li>Python 3 <pre>python3 foo.py</pre></li>
          <li>JavaScript <pre>nodejs foo.js</pre></li>
        </ul></blockquote>
      </div>
    </div>
    <div class="section" data-heading-extract-to="#menu-item-wiki_help">
      <div class="section__header">
        <h1 class="section__title" id="io" data-heading>{{ _('IO') }}</h1>
      </div>
      <div class="section__body typo">
        <p>Only supports stdout and stdin. No file i/o support. </p>
      </div>
    </div>
    <div class="section" data-heading-extract-to="#menu-item-wiki_help">
      <div class="section__header">
        <h1 class="section__title" id="status" data-heading>{{ _('Judge Status') }}</h1>
      </div>
      <div class="section__body typo">
        <ul>
		      <li><span class="record-status--text pending">Waiting</span> Waiting for processing. </li>
		      <li><span class="record-status--text progress">Fetched</span> Submission fetched by judger. </li>
		      <li><span class="record-status--text progress">Compiling</span> Compiling the submission. </li>
		      <li><span class="record-status--text progress">Judging</span> Currently judging the solution. </li>
		      <li><span class="record-status--text pass">Accepted</span> Solution accepted. </li>
		      <li><span class="record-status--text fail">Wrong Answer</span> Solution fails. </li>
		      <li><span class="record-status--text fail">Time Exceeded</span> Solution exceeded Time limit. </li>
		      <li><span class="record-status--text fail">Memory Exceeded</span> Solution exceeded Memory limit</li>
		      <li><span class="record-status--text fail">Runtime Error</span> Encountered error while judging the solution. </li>
		      <li><span class="record-status--text fail">Compile Error</span> Solution failed to compile. </li>
		      <li><span class="record-status--text fail">System Error</span> Judging system error. </li>
		      <li><span class="record-status--text ignored">Canceled</span> Judging canceled. </li>
		      <li><span class="record-status--text fail">Unknown Error</span> Unknown error </li>
		      <li><span class="record-status--text ignored">Ignored</span> Ignored </li>
		    </ul>
      </div>
    </div>
    <div class="section" data-heading-extract-to="#menu-item-wiki_help">
      <div class="section__header">
        <h1 class="section__title" id="upload" data-heading>{{ _('dataset_format') }}</h1>
      </div>
      <div class="section__body typo">
        {{ _('Dataset Format validator') }}: <a href="https://github.com/ajami1331/testcase-validator" target="_blank">{{ _('Download') }} </a>
        </p><blockquote><ul>
        <li>- Config.json: Problem config</li>
        <li>+ Input: Input folder</li>
        <li>|- input0.txt</li>
        <li>|- input1.txt</li>
        <li>|- ...</li>
        <li>+ Output: Output folde</li>
        <li>|- output0.txt</li>
        <li>|- output1.txt</li>
        <li>|- ...</li>
        </ul></blockquote>
        <blockquote class="note"><p>Config.json</p>
        <p>
          TimeLimit: TimeLimit in ms<br>
          MemoryLimit: MemoryLimit in KB<br>
          ValidatorType: ValidatorType<br>
          TestCases: TestCases<br>

          ValidatorType: 1: File Validator<br>
          ValidatorType: 2: Line Validator<br>
          ValidatorType: 3: Word Validator<br>
          ValidatorType: 4: Float Validator<br>
          ValidatorType: 5: Custom Validator<br>

          Samples: Array<int> // Index of sample testcases <br>

          TestCases: Input: Input file name<br>
          TestCases: Output: Output file name<br>
          TestCases: Score: Score<br>
        </p>
        <p>Example</p>
        <pre>
          {
            "TimeLimit": 2000,
            "MemoryLimit": 65536,
            "ValidatorType": 1,
            "Epsilon": 1e-6, // Float Validator
            "Samples": [0, 3], // Index of sample testcases
            "TestCases": [
                {
                    "Input": "input1.txt",
                    "Output": "output1.txt",
                    "Score": 0
                },
                {
                  "Input": "input2.txt",
                  "Output": "output2.txt",
                  "Score": 50
                },
                {
                  "Input": "input3.txt",
                  "Output": "output3.txt",
                  "Score": 50
                },
                {
                  "Input": "input4.txt",
                  "Output": "output4.txt",
                  "Score": 0
                }
            ]
        }
        </pre></blockquote>
      </div>
    </div>
{% endblock %}
