aiohttp>=3.6.0,<3.8.0
jinja2>=2.9.0
sockjs>=0.7.0,<0.10.0
mistune
accept
aioamqp
pytz
coloredlogs
httpagentparser
geoip2
GitPython
PyYAML
aiomongo @ git+https://github.com/iceboy233/aiomongo
yarl
aiohttp-sentry
aiosmtplib<3.0.0
plotly
kaleido
seqlog